
/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}


body {
    font-family: 'Alumni Sans', sans-serif;
    color: #ffffff;
    font-size: 14px;  
}

.wrapper {
    padding: 0 5%;
    margin: 0 auto;
}

header {
    background-color: #023B8C;
    border-bottom: 5px solid rgb(42 94 165);
}

.header {   
    height: 100px;
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type:none;
}

.nav {
    display: flex;
    justify-content: center;
    padding-top: 18px;
    gap: 50px;
}

.nav li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 900;
    font-size: 50px;
    font-style: normal;
    font-family: 'Alumni Sans', sans-serif;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}

.logo {
    padding-top: 10px;
    display: flex;
}

.logo_par {
margin-left: 50px;
display: flex;
}

.logo_par img{
    height: 75px;
    width: 75px;
}

.logo_parText {
    width: 220px;
    padding-top: 8px;
    font-size: 18px;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}

.info {
    min-height: 820px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(2,59,140,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(2,59,140,1) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(2,59,140,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#023b8c",GradientType=1);
}

.info_L_and_R {
    display: flex;
    justify-content: space-between;
}

.info_text {
    padding-top: 50px;
    padding-left: 100px;
}

.info_text h1 {
    font-size: 120px;
    width: 600px;
    line-height: 0.9;
    letter-spacing:1px;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}

.info_text button {
    margin-top: 40px;
    width: 400px;
    height: 80px;
    border-radius: 40px;
    background: none;
    font-weight: 600;
    font-size: 50px;
    color: rgb(255, 255, 255);
    border: 5px solid white;
    font-family: "Alumni Sans", sans-serif;
    text-shadow: rgb(0, 0, 0) 1px 2px 2px;
}

.info_text button:hover {
    background: #FFFFFF ;
    color: rgba(2,59,140,1);
    cursor: pointer;
    text-shadow: none;

}

.info_rigth {
    padding-right: 100px;
    padding-top: 100px;
    display: flex;
    flex-flow: column wrap;
}

.info_rigth img {
    width: 350px;
    height: 350px;
}

.info_rigth span {
    text-shadow: 1px 2px 5px rgb(0, 0, 0);
    padding-top: 20px;
    font-size: 20px;
    width: 300px;
}


.info_time {
    padding-top: 50px;
    padding-left: 100px;
    display: flex;
    text-shadow: 1px 2px 5px rgb(0, 0, 0);
    font-size: 60px;
    gap: 180px;
}

.info_time_l {
    display: flex;
    flex-flow: column wrap;
    line-height: 0.9;
}

footer {
    margin-top: 50px;
    background-color: #265dab;
    height: 100px;
    border-top: solid 5px #f5f8ff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.foot {
    display: flex;
    justify-content: space-between;
}

.logoMin {
    display: flex;
}

.logoMin img {
    padding-top: 5px;
    width: 100px;
}

.logoMin span {
    padding-top: 7px;
    padding-left: 10px;
    width: 50px;
    font-size: 17px;
}

.adres{
    display: flex;
    gap: 50px;
}

.adres a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    font-style: normal;
    font-family: 'Alumni Sans', sans-serif;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}

.adres_vk{
    display: flex;
    gap: 5px;
}

.adres_vk img {
    padding-top: 30px;
    width: 30px;
}

.adres_vk span {
    padding-top: 25px;
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    font-family: 'Alumni Sans', sans-serif;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}

.adresHelp {
    color: #ffffff;
    font-weight: 500;
    font-size: 25px;
    font-family: 'Alumni Sans', sans-serif;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}


    /* свойства модального окна по умолчанию */
    .modal {
        color: #000;
        position: fixed;
        /* фиксированное положение */
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        /* цвет фона */
        z-index: 1050;
        opacity: 0;
        /* по умолчанию модальное окно прозрачно */
        -webkit-transition: opacity 0ms ease-in;
        -moz-transition: opacity 0ms ease-in;
        transition: opacity 0ms ease-in;
        /* анимация перехода */
        pointer-events: none;
        /* элемент невидим для событий мыши */
      }
  
      /* при отображении модального окно */
      .modal:target {
        opacity: 1;
        pointer-events: auto;
        overflow-y: auto;
      }
  
      /* ширина модального окна и его отступы от экрана */
      .modal-dialog {
        position: relative;
        width: auto;
        margin: 10px;
      }
  
      @media (min-width: 576px) {
        .modal-dialog {
          max-width: 500px;
          margin: 8% auto;
        }

      }
  
      /* свойства для блока, содержащего контент модального окна */
      .modal-content {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: .3rem;
        outline: 0;
      }
  
      @media (min-width: 768px) {
        .modal-content {
          -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        }

        


      }
  
      /* свойства для заголовка модального окна */
      .modal-header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 15px;
        border-bottom: 1px solid #eceeef;
      }
  
      .modal-title {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.5;
        font-size: 1.25rem;
        font-weight: 500;
        
      }
  
      /* свойства для кнопки "Закрыть" */
      .close {
        float: right;
        font-family: sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
        text-decoration: none;
      }
  
      /* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
      .close:focus,
      .close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .75;
      }
  
      /* свойства для блока, содержащего основное содержимое окна */
      .modal-body {
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 15px;
        overflow: auto;
      }


      form {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
        }

        select {
            margin-top: 10px;
            padding: 5px;
            margin-top: 5px;
            border: 1px solid #ccc;
            resize: none;

        }
        label {
        font-weight: bold;
        margin-top: 10px;
        }
        input, textarea {
        padding: 5px;
        margin-top: 5px;
        border: 1px solid #ccc;
        resize: none;
        }
        button {
        margin-top: 10px;
        padding: 5px 10px;
        background-color: #007bff;
        border: none;
        color: #fff;
        cursor: pointer;
        }

        #feedbackForm > button {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 300px;
            height: 64px;
            border-radius: 15px;
            background: none;
            font-weight: 500;
            font-size: 37px;
            color: rgb(37 37 37);
            border: 2px solid rgb(203 203 203);
            font-family: "Alumni Sans", sans-serif;
            text-shadow: rgb(255 255 255) -5px 8px 2px;
        }




        @media (max-width: 1024px) {

            .info_text {
                padding-top: 50px;
                padding-left: 100px;
            }
            
            .info_text h1 {
                font-size: 50px;
                width: 450px;
                line-height: 0.9;
                letter-spacing:1px;
                text-shadow: 1px 2px 2px rgb(0, 0, 0);
            }
            
            .info_text button {
                margin-top: 40px;
                width: 250px;
                height: 80px;
                border-radius: 40px;
                background: none;
                font-weight: 600;
                font-size: 50px;
                color: rgb(255, 255, 255);
                border: 5px solid white;
                font-family: "Alumni Sans", sans-serif;
                text-shadow: rgb(0, 0, 0) 1px 2px 2px;
            }
                       
            .info_text button:hover {
                background: #FFFFFF ;
                color: #018ABE;
                cursor: pointer;
                text-shadow: none;
            
            }

            .info_rigth img {
                width: 200px;
                height: 200px;
            }
                    
            .info_time {
                padding-top: 50px;
                padding-left: 100px;
                display: flex;
                text-shadow: 1px 2px 5px rgb(0, 0, 0);
                font-size: 30px;
                gap: 180px;
            }

            }


._error {
    box-shadow: 0 0 15px red;
}





